.bar {
  font-family: Inter;
  font-size: 14;
  color: #f1ac9a;


  border-radius: 13;
  background-color: #1a1b26;
  opacity: 0.90;
}
.title {
  color: #e87369;
  font-size: 18;
  font-weight: bold;


}

.bottomInfo {
  font-size: 15;

}

.smallsep {
  color: #82c6c8;
}
